swagger: "2.0"
info:
  description: "An open API aimed at providing tools for hike planning and discovery."
  version: "1.0.0"
  title: "HiKit v1"
  contact:
    email: "dev.lore@hikit.it"
  license:
    name: "Mozilla License"
    url: "https://www.mozilla.org/en-US/MPL/"
host: "hikit.com"
basePath: "/api/v1"
tags:
  - name: "Trails"
    description: "Allows to access trails data via convenient REST methods"
  - name: "POI"
    description: "Allows to access POI data via conveninet REST methods"
  - name: "Route"
    description: "Plan a trip based on starting and end point"
  - name: "System"
    description: "Service courtesy methods"
schemes:
  - "http"
paths:
  /trails:
    get:
      tags:
        - "Trails"
      summary: "Retrieves trails based on given conditions"
      description: "Retrieves trails based on given conditions. At least one parameter must be specified. The result is limited to up to 50 trails."
      operationId: "Retrieves"
      produces:
        - "application/json"
      parameters:
        - name: "trailCode"
          in: "query"
          description: "Trail code (e.g: 101, 00GEA, ...)"
          required: false
          type: "string"
          format: "String"
        - name: "postCode"
          in: "query"
          description: "Postcodes at which the trail runs through (the search is done on its starting, ending and waypoints)"
          required: false
          type: "array"
          items:
            type: "string"
            format: "string"
        - name: "country"
          in: "query"
          description: "Country for which the trail should be retrieved"
          required: false
          type: "string"
          format: "String"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/TrailResponse"
  /trails/geo:
    post:
      tags:
        - "Trails"
      summary: "Retrieves trails within a specified radial distance given latitude and longitude"
      description: "Retrieves trail(s) near the given coordinates (lat/long)"
      operationId: "Retrieves trails based on coords"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Geo-coordinates trail request"
          required: true
          schema:
            $ref: "#/definitions/GeoTrailRequest"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/TrailResponse"
        204:
          description: "No trails found"
          schema: {}
  /poi:
    get:
      tags:
        - "POI"
      summary: "Retrieves POI based on given conditions"
      description: ""
      operationId: "Retrieves POI"
      produces:
        - "application/json"
      parameters:
        - name: "trailCode"
          in: "query"
          description: "Trail code (e.g: 101, 00GEA, ...)"
          required: false
          type: "string"
          format: "String"
        - name: "postCode"
          in: "query"
          description: "Postcodes at which the POI is found at (the search is done on its starting, ending and waypoints)"
          required: false
          type: "array"
          items:
            type: "string"
            format: "string"
        - name: "types"
          in: "query"
          description: "Types of POI. If no specified ones are matched, the search will return an error"
          required: false
          type: "array"
          items:
            type: "string"
            format: "string"
        - name: "country"
          in: "query"
          description: "Country for which the trail should be retrieved"
          required: false
          type: "string"
          format: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/POIResponse"
  /poi/geo:
    post:
      tags:
        - "POI"
      summary: "Retrieves POIs within a radial distance given latitude and longitude"
      description: "Retrieves trail(s) near the given coordinates (lat/long)"
      operationId: "Retrieves POI based on coords"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Geo-coordinates trail request"
          required: true
          schema:
            $ref: "#/definitions/GeoPOIRequest"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/POIResponse"
        204:
          description: "No POI found"
          schema: {}
  /route/plan:
    post:
      tags:
        - "Route"
      summary: "Connects trails into a single route"
      description: "Retrieves trail(s) near the given coordinates (lat/long)"
      operationId: "Plan a route"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Geo-coordinates trail request"
          required: true
          schema:
            $ref: "#/definitions/RoutePlanRequest"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/RouteResponse"
        204:
          description: "No routes found"
          schema: {}
  /system:
    get:
      tags:
        - "System"
      summary: "Helps troubleshooting the service liveliness"
      responses:
        200:
          description: "Successful liveliness check"
          schema:
            $ref: "#/definitions/RESTResponse"
definitions:
  Coords:
    type: "object"
    properties:
      latitude:
        type: "number"
        format: "double"
      longitude:
        type: "number"
        format: "double"
  GeoTrailRequest:
    type: "object"
    properties:
      coords:
        type: "object"
        format: "int64"
        $ref: "#/definitions/Coords"
      distance:
        type: "integer"
        format: "int64"
      uom:
        type: "string"
        enum:
          - "m"
          - "km"
  TrailResponse:
    type: "object"
    properties:
      result:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/Trail"
    allOf:
      - $ref: "#/definitions/RESTResponse"
      - type: "object"
  Trail:
    type: "object"
    properties:
      name:
        type: "string"
        format: "string"
      code:
        type: "string"
        format: "string"
      startPos:
        type: "object"
        $ref: "#/definitions/Position"
      finalPos:
        type: "object"
        $ref: "#/definitions/Position"
      postcodes:
        type: "array"
        items:
          type: "string"
          format: "string"
      description:
        type: "string"
        format: "string"
      geo:
        description: "A geoJson object"
        type: "object"
        format: "json"
      trackLength:
        type: "number"
        format: "number"
      eta:
        type: "number"
        format: "number"
      POIs:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/POI"
      wayPoints:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/Waypoint"
      totalLength:
        type: "number"
        format: "number"
      totalElevationChange:
        type: "number"
        format: "number"
      totalElevationDown:
        type: "number"
        format: "number"
      totalElevationUp:
        type: "number"
        format: "number"
      classification:
        type: "string"
        enum:
          - "T"
          - "E"
          - "EE"
          - "EEA"
  Waypoint:
    type: "object"
    properties:
      position:
        type: "object"
        $ref: "#/definitions/Position"
      connectingTrail:
        type: "object"
        $ref: "#/definitions/TrailReference"
  POI:
    type: "object"
    properties:
      name:
        type: "string"
        format: "string"
      description:
        type: "string"
        format: "string"
      position:
        type: "object"
        $ref: "#/definitions/Position"
      trails:
        type: "object"
        $ref: "#/definitions/TrailReference"
      type:
        type: "array"
        items:
          type: "string"
          format: "string"
      otherNames:
        type: "array"
        items:
          type: "string"
          format: "string"
      tags:
        type: "array"
        items:
          type: "string"
          format: "string"
      resourcesLinks:
        type: "array"
        items:
          type: "string"
          format: "url"
      types:
        type: "array"
        items:
          type: "string"
          format: "string"
      postCode:
        type: "string"
      geo:
        type: "object"
  GeoPOIRequest:
    type: "object"
    properties:
      coords:
        type: "object"
        format: "int64"
        $ref: "#/definitions/Coords"
      distance:
        type: "integer"
        format: "int64"
      uom:
        type: "string"
        enum:
          - "m"
          - "km"
      types:
        type: "array"
        items:
          type: "string"
  POIResponse:
    type: "object"
    properties:
      pois:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/POI"
    allOf:
      - $ref: "#/definitions/RESTResponse"
      - type: "object"
  TrailReference:
    type: "object"
    properties:
      trailCode:
        type: "string"
        format: "string"
      postCode:
        type: "string"
        format: "string"
  Position:
    type: "object"
    properties:
      name:
        type: "string"
        format: "string"
      description:
        type: "string"
        format: "string"
      tags:
        type: "array"
        items:
          type: "string"
          format: "string"
      coordinates:
        type: "object"
        $ref: "#/definitions/Coords"
      alt:
        type: "number"
        format: "number"
      postCode:
        type: "string"
        format: "string"
  RouteResponse:
    type: "object"
    properties:
      routes:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/RouteSolution"
    allOf:
      - $ref: "#/definitions/RESTResponse"
      - type: "object"
  RoutePoint:
    type: "object"
    properties:
      distanceSoFar:
        type: "number"
        format: "number"
      position:
        type: "object"
        $ref: "#/definitions/Position"
      trail:
        type: "object"
        $ref: "#/definitions/Trail"
  RoutePlanRequest:
    type: "object"
    properties:
      startPos:
        type: "object"
        $ref: "#/definitions/Position"
      finalPos:
        type: "object"
        $ref: "#/definitions/Position"
      distance:
        type: "number"
        format: "number"
      uom:
        type: "string"
        enum:
          - m
          - km
  RouteSolution:
    type: "object"
    properties:
      points:
        type: "array"
        description: "Ordered set of RoutePoint connecting trails and POIs"
        items:
          type: "object"
          $ref: "#/definitions/RoutePoint"
      pois:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/POI"
      totalLength:
        type: "number"
        format: "number"
      totalElevationChange:
        type: "number"
        format: "number"
      totalElevationDown:
        type: "number"
        format: "number"
      totalElevationUp:
        type: "number"
        format: "number"
      classification:
        type: "string"
        enum:
          - "T"
          - "E"
          - "EE"
          - "EEA"
  RESTResponse:
    type: "object"
    properties:
      status:
        type: "string"
        enum:
          - "OK"
          - "ERROR"
      messages:
        type: "array"
        items:
          type: "string"
externalDocs:
  description: "Find out more about HiKit"
  url: "https://github.com/loreV/hikit"